<%= form_for([@slideshow, @slide]) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :subtype %>
		<%= f.select :subtype, %w{please_choose text image web} %> <i>note that "text" can contain HTML</i>
	</div>



  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :duration %> <i>(in seconds)</i><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
		<%= f.label :text %><br/>
		<%= text_area_tag :text, "text: plaintext or html\n\nimage: image url\n\nweb: any website url", :cols=>40,:rows=>6, :onfocus=>"clearContents(this);" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>