<% if @first_slide %>
	<p>
		<%= link_to "Start Slide Show", start_slideshow_path(@slideshow) %>
	</p>
	
	<table>
	  <tr>
	    <th align="left">Title</th>
		<th align="left">Subtype</th>
		<th align="left">Duration</th>
		<th align="left">Created At</th>
	    <th></th>
	    <th></th>
	  </tr>

	<%  @slideshow.slides.each do |slide| %>
	  <tr>
	    <td width="200"><%= slide.title %></td>
		<td width="100"><%= slide.subtype %></td>
		<td width="75"><%= slide.duration %></td>
		<td width="200"><%= slide.created_at %></td>
	    <td>Edit</td>
		<td>Destroy</td>
	  </tr>
	<% end %>
	</table>
	
	
<% end %>

<h1>New Slide</h1>
<div class="twospecial">
	 <%= render 'form' %>
</div>

