
<p id="notice"><%= notice %></p>


<div class="slide">
	<strong>Duration</strong>: <%= @slide.duration %>
	<%= link_to 'Next Slide', slideshow_slide_path(@slideshow, @next_slide) %>
	<%= link_to 'Edit', edit_slideshow_slide_path(@slideshow, @slide) %> |
	<%= link_to 'Back', slideshow_slides_path(@slideshow) %>
	<p class="one">
	  <%= @slide.title %>
	
	  
	</p>
	<p>
		<%= render :partial => render_subtype_partial(@slide_subtype), :object => @slide_subtype %>
	</p>
	
	<script type="text/javascript">
		setTimeout(function(){window.location="<%= slideshow_slide_path(@slideshow, @next_slide) %>"}, <%= @slide.duration*1000 %>)
	</script>


</div>
