<%= form_for(@slideshow) do |f| %>
  <% if @slideshow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slideshow.errors.count, "error") %> prohibited this slideshow from being saved:</h2>

      <ul>
      <% @slideshow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
			
	<div class="main_new">
		<%= f.label "slidefeed.com/".to_sym %>
	    <%= f.text_field :name %>
	    <%= f.submit "Create SlideFeed"%>
	</div>
	
	<h2 class="by_the_way">
		Or just go to Slidefeed.com/YOUR_URL
	</h2>
	
	<div class="pre_alpha">
		<h3 class="pre_alpha_text">
			And in case you didn't notice,</br>
			This is a Pre-Alpha...
			So its kinda shitty...
		</h3>
	</div>

<% end %>
