<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_slideshow_path(@slideshow) %> |
<%= link_to 'Back', slideshows_path %>

<p class="main_title">
  <b>Name:</b>
  <%= @slideshow.name %>
</p>

<p class="create_new">
	<%= link_to "Create New Slide", new_slideshow_slide_path(@slideshow) %>
</p>

	<% if @first_slide %>
		<p>
			<%= link_to "Start Slide Show", "" %>
		</p>
	<% end %>



