<h1>Listing text_slides</h1>

<table>
  <tr>
    <th>Html</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_slides.each do |text_slide| %>
  <tr>
    <td><%= text_slide.html %></td>
    <td><%= link_to 'Show', text_slide %></td>
    <td><%= link_to 'Edit', edit_text_slide_path(text_slide) %></td>
    <td><%= link_to 'Destroy', text_slide, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text slide', new_text_slide_path %>
